<div class="container company" *ngIf="company$ | async as company">
  <app-spinner-wrapper [condition] = 'company == null'>
    <div class="banner">
      <img [src] = 'company.bannerImage' [alt]="company.companyName + '-banner'">
    </div>
    <div class="preview-info">
      <div class="avatar">
        <img [src]="company.imageUrl" [alt]="company.companyName+'avatar'">
      </div>
      <div class="d-flex justify-content-between" style="width: 100%">
        <h2>{{company.companyName}}</h2>
        <a [href]="'mailto:'+company.email" mat-icon-button>
          <i class="fa-solid fa-envelope"></i>
        </a>
      </div>
    </div>
    <div class="information">
      <h4 class ='mb-4'>About company:</h4>
      <p class="description">{{company.description}}</p>
      <h4 class="mt-4">Website: <a [href]="company.websiteLink" target="_blank">{{company.companyName}}</a></h4>
      <h4 class="mt-4">Count of workers: {{company.countOfWorkers}}</h4>
      <ng-container *ngIf="company.tags.length > 0">
        <h4 class="mt-4">Technologies:</h4>
        <app-techstack-field [techStack]="company.tags" [showDelete] = 'false'>
        </app-techstack-field>
      </ng-container>
      <ng-container>

      </ng-container>
    </div>
  </app-spinner-wrapper>
</div>
