<form [formGroup]="signInForm" (ngSubmit)="onLogin()" class=" m-auto login h-100 w-50 d-flex flex-column">
  <h1 class="text-center">Sign In</h1>
  <div class="row">
    <div class="col-md-12 roundedTextBox mb-4">
      <label>Email</label>
      <input type="email" class="form-control mb-2 mt-1" id="inputEmail" formControlName="email" placeholder="Enter Email">
      <div *ngIf="submitted && formControl.email.errors" class="text-danger">
        <div *ngIf="formControl.email.errors.email">Email must be valid.</div>
        <div *ngIf="formControl.email.errors.required">Email is required.</div>
      </div>
    </div>
    <div class="col-md-12 roundedTextBox mb-4">
      <label>Password</label>
      <input type="password" class="form-control mb-2 mt-1" id="inputPassword" formControlName="password" placeholder="Enter Password">
      <div *ngIf="submitted && formControl.password.errors" class="text-danger">
        <div *ngIf="formControl.password.errors.required">Password is required.</div>
        <div *ngIf="formControl.password.errors.pattern">
          <ul >
            <li>Password should be alphanumeric</li>
            <li>A letter of the password should be capital</li>
            <li>Password must contain a special character (@, $, !, &, etc)</li>
            <li>Password length must be greater than 7 characters</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="buttons text-center">
    <button class="submit mr-2" type="submit">Login</button>
  </div>
</form>
