ul{
 list-style: none;
}


.login {
  color : #ffffff !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  margin: auto;
  width: 75%;
  border-radius: 40px;
  border: 3px solid #2B2D42 ;
  background: #8d99ae;
  box-shadow:  20px 20px 60px #8d99ae,
             -20px -20px 60px #edf2f4;
  z-index: 1;
}

.login label{
  font-weight: 700;
}



