<form [formGroup]="signInForm" (ngSubmit)="onLogin()" class=" m-auto login h-100 w-50 d-flex flex-column">
  <h1 class="text-center">Sign In</h1>
  <div class="row">
    <div class="col-md-12 roundedTextBox mb-4">
      <label>Email</label>
      <input type="email" class="form-control mb-2 mt-1" id="inputEmail" formControlName="email" placeholder="Enter Email">
      <div *ngIf="submitted && formControl.email.errors" class="text-danger">
        <div *ngIf="formControl.email.errors.email">Email must be valid.</div>
        <div *ngIf="formControl.email.errors.required">Email is required.</div>
      </div>
    </div>
    <div class="col-md-12 roundedTextBox mb-4">
      <label>Password</label>
      <input type="password" class="form-control mb-2 mt-1" id="inputPassword" formControlName="password" placeholder="Enter Password">
      <div *ngIf="submitted && formControl.password.errors" class="text-danger">
        <div *ngIf="formControl.password.errors.required">Password is required.</div>
      </div>
    </div>
  </div>
  <br>
    <app-submit-button class="text-center" >Login</app-submit-button>
</form>
