<div class = 'container layout'>
  <div class="content">
    <h1 class = 'text-center pb-3'>Welcome</h1>
    <div class="cards">
      <a class="card" routerLink="/sign-up-user" >
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="card-inner">
          <h4 class = 'text-center'>For users</h4>
          <p>If you want to quickly find out news in the field of IT, find a job, or learn something new, welcome!</p>
        </div>
      </a>
      <a class="card" routerLink="/sign-up-company">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="card-inner">
          <h4 class="text-center">For Companies</h4>
          <p>If you want to add your company so that as many people as possible learn about it, you are at the address</p>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="wave">
  <app-dynamic-waves></app-dynamic-waves>
</div>
