.upload-modal {
	width: 100%;
	height: 100%;
}

.upload-modal .avatar {
	width: 200px;
	height: 200px;
	margin: auto;
	border-radius: 50%;
}

.upload-modal .modal-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.modal-container .default{
	display: flex;
	flex-direction: column;
	
	align-items: center;
	justify-content: center;
}

.avatar img {
	width: 100%;
	height: 100%;
	border-radius: inherit;
}

.modal-container .default .personalize{
	display: grid;
	grid-template-columns:  50% 50%;
	grid-gap: 20px;
	width: 100%;
}


input[type="color"] {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: none;
	border: 0;
	cursor: pointer;
	height: 5em;
	padding: 0;
	width: 100%;
}

.swatch {
	background: white;
	box-shadow: 1em 1em 1em rgba(0, 0, 0, .1);
	display: flex;
	flex-direction: column;
	width: 100%;
}

.swatch .info {
	padding: 1em;
}

.swatch h4 {
	margin: 0;
	text-transform: uppercase;
}

.swatch h5 {
	font-weight: normal;
	margin: 0;
}

.modal-container .default-avatar-galery{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
	grid-gap: 1rem;
}

.default-avatar-galery img{
	width: 100px ;
	height: 100px;
	border-radius: 50%;
}


