.sing-up-form{
  display: flex;
  flex-direction: column;
  background-color: #8d99ae;
  border-radius: 40px;
  display: grid;
  grid-template-columns: 45% 55%;

  border: 3px solid #2B2D42 ;
  box-shadow:  20px 20px 60px #8d99ae,
             -20px -20px 60px #8d99ae;
}

.preview-form{

  width: inherit;
  height: inherit;
  overflow: hidden;
}

.preview-form svg{
  height: 100%;
  width: inherit;
}

.sing-up-form label{
  text-align: left;
  width: 100%;
  font-weight: 700;
}

#sign-up-button{
  width: 40%;
  border: 0;
  padding: 10px;
  font-size: 24px;
  font-weight: 500;
  border-radius: 10px;
  transition: 0.4s;
}

#sign-up-button:hover{
  color: #ffffff;
  background-color: #ef233c;
}

