<form class="h-100 sing-up-form w-100 m-auto " [formGroup]="signUpForm" (ngSubmit)="handleSubmit()">
  <div class="preview-form">
    <app-svg-icon name="sign-up"></app-svg-icon>
  </div>
  <div class="p-4 d-flex flex-column justify-content-center align-items-center p-5">
    <h1 class="text-center">Sign-Up</h1>
    <label>UserName</label>
    <input type="text" class="form-control mb-2 mt-1" formControlName="userName" placeholder="User name">
    <div *ngIf="submitted && formControl.userName.errors" class="text-danger">
      <div *ngIf="formControl.userName.errors">UserName is requaired.</div>
    </div>
    <label>Email</label>
    <input type="email" class="form-control mb-2 mt-1" formControlName="email" placeholder="Email">
    <div *ngIf="submitted && formControl.email.errors" class="text-danger">
      <div *ngIf="formControl.email.errors">Email must be valid!</div>
    </div>
    <label>Password</label>
    <input type="password" class="form-control mb-2 mt-1" formControlName="password" placeholder="Password">
    <div *ngIf="submitted && formControl.password.errors" class="text-danger text-center">
      <div *ngIf="formControl.password.errors">A letter of the password should be capital. Password must contain a
        special character (@, $, !, &, etc). Password must be greater than 7 characters! )
      </div>
    </div>
    <label>Confirm password</label>
    <input type="password" class="form-control mb-2 mt-1" formControlName="confirmPassword"
      placeholder="Please repeat password">
    <div *ngIf="submitted && signUpForm.errors" class="text-danger text-center mb-3">
      <div>Password must match!</div>
    </div>
    <app-submit-button>Complete</app-submit-button>
    <hr>
  </div>
</form>
