<div class="h-100">
  <mat-drawer-container class="chats-container" autosize>
    <mat-drawer #drawer class="chats-sidenav" mode="side" style="overflow: inherit">
      <h2 class="text-center mt-3">Chats</h2>
      <ul class = 'chats-list'>
        <app-chat-list-item routerLinkActive="active-chat" class="chat-preview-item" *ngFor="let item of chatsList" [chatItem] = "item" [routerLink]="item.id"></app-chat-list-item>
      </ul>
    </mat-drawer>
    <div class = "chat-zone container">
      <button type="button" class = 'burger' (click)="drawer.toggle()">
        <i *ngIf="drawer.opened" class = "fas fa-arrow-left-long"></i>
        <i *ngIf="!drawer.opened" class = "fas fa-comment-dots"></i>
      </button>
      <router-outlet></router-outlet>
    </div>
</mat-drawer-container>
</div>
