<div class="h-100">
  <mat-drawer-container class="chats-container" autosize>
    <mat-drawer #drawer class="chats-sidenav" mode="side">
      <h2 class="text-center">Chats</h2>
      <ul class = 'chats-list'>
        <app-chat-list-item *ngFor="let item of chatsList" [chatItem] = "item" (click) = "chooseChat(item)"></app-chat-list-item>
      </ul>
    </mat-drawer>
    <div style ="height: 86vh;">
      <button type="button" class = 'burger' (click)="drawer.toggle()">
        <i *ngIf="drawer.opened" class = "fas fa-arrow-left-long"></i>
        <i *ngIf="!drawer.opened" class = "fas fa-comment-dots"></i>
      </button>

        <ng-container *ngIf="choosenChat$ == null; else elseTemplate">
          <div class = 'd-flex justify-content-center w-100 align-items-center text-center h-100 m-auto flex-column'>
            <h1>Let`s start messaging</h1>
            <h2>Choose the chat</h2>
          </div>
        </ng-container>
        <ng-template class="h-100" #elseTemplate >
          <app-spinner-wrapper  [condition]="loading">
            <app-chat-container [chat$] = "choosenChat$" ></app-chat-container>
          </app-spinner-wrapper>
        </ng-template>
    </div>
</mat-drawer-container>
</div>
