<div class="h-100">
  <mat-drawer-container class="chats-container" >
    <mat-drawer #drawer mode="side" style="background-color: #edf2f4; width: 20%" >
      <div class="chats-sidenav">
        <div class="head w-100">
          <h2 class="text-center mt-3">Chats</h2>
          <div class="help-bar">
            <input type="text" placeholder="Search" class = "input-style" style="width: 90%; margin: auto;">
            <button mat-icon-button>
              <i class="fa-solid fa-user-plus"></i>
            </button>
          </div>
          <hr>
        </div>
        <div class="h-100" style="overflow: auto;">
          <app-user-chats></app-user-chats>
        </div>
      </div>
    </mat-drawer>
    <div class="chat-zone container">
      <button type="button" class="burger" (click)="drawer.toggle()">
        <i *ngIf="drawer.opened" class="fas fa-arrow-left-long"></i>
        <i *ngIf="!drawer.opened" class="fas fa-comment-dots"></i>
      </button>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</div>
