.main-button{
  padding: 20px;
  background-color: transparent;
  color: #fff;
  border:0;
  border-radius: 30% 70% 38% 62% / 67% 31% 69% 33% ;
  margin: 10px 0;
  transition: 0.5s;
  /* box-shadow:  32px 32px 84px #b5b5b5,
             -32px -32px 84px #ffffff; */
  cursor: pointer;
  text-shadow: 5px 2px 16px #8d99ae, 41px -32px 9px #8d99ae;
  /* text-shadow:  42px 12px 84px black,
  -22px -12px 84px black; */
}

.main-button:hover{
  transform: scale(1.2);

}
