.main-button{
  padding: 20px;
  background-color: rgba(24, 23, 23, 0.1);
  color: #fff;
  border: 1px solid white;
  border-radius: 30% 70% 38% 62% / 67% 31% 69% 33% ;
  margin: 10px 0;
  transition: 0.5s;
  box-shadow:  32px 32px 84px #b5b5b5,
             -32px -32px 84px #ffffff;
  cursor: pointer;

}

.main-button:hover{
  transform: scale(1.2);

}
