<div class="container py-5">
<!--  <div class="search">-->
<!--    <input placeholder="Search news ..." #search/>-->
<!--  </div>-->
  <form class="search">
    <button>
      <svg width="17" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="search">
        <path d="M7.667 12.667A5.333 5.333 0 107.667 2a5.333 5.333 0 000 10.667zM14.334 14l-2.9-2.9" stroke="currentColor" stroke-width="1.333" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
    </button>
    <input class="input" placeholder="Search news..." required="" type="text" #search>
    <button class="reset" type="reset">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
  </form>
  <app-spinner-wrapper   *ngIf="news$ | async as news" [condition] = "news.items == null">
    <div *ngIf="news.items.length == 0">
      <h1 class="display-1 text-center m-5">Nothing found</h1>
    </div>
    <div *ngIf="news != null">
      <div class="news-container" >
        <app-news-preview class="item" *ngFor="let item of news.items | paginate: config" [news]="item">
        </app-news-preview>
      </div>
      <pagination-controls
        class="text-center p-4"
        (pageChange)="onPageChange($event)"
      >
      </pagination-controls>
    </div>
  </app-spinner-wrapper>
</div>
