.custom-shape-divider-top-1669205222 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1669205222 svg {
  position: relative;
  display: block;
  width: calc(268% + 1.3px);
  height: 130px;
}

.custom-shape-divider-top-1669205222 .shape-fill {
  fill: #FFFFFF;
}

.news{
  position: relative;
}


.search{
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  background-color: #cab680;
}

.search input{
  width: 100%;
  padding: 5px 10px;
  font-size: 24px;
  border-radius: 15px;
  border: 0;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
