<ng-container *ngIf="!this.headerStyle; else elseTemplate">
  <header class="main-header">
    <div class="container">
      <div class="title">
        <img src="https://iili.io/H9QZd8X.md.png" alt="WayToDevLogo">
        <h1>WayToDev</h1>
      </div>
      <ul class="header-links">
        <li><a [routerLink]="item.route" *ngFor="let item of headerLinks">{{item.name}}</a></li>
      </ul>
    </div>
  </header>
</ng-container>
<ng-template #elseTemplate>
  <header class="main-header beauty">
    <div class="container">
      <div class="title">
        <img src="https://iili.io/H9QZd8X.md.png" alt="WayToDevLogo">
        <h1>WayToDev</h1>
      </div>
      <ul class="header-links">
        <li><a [routerLink]="item.route" *ngFor="let item of headerLinks">{{item.name}}</a></li>
      </ul>
    </div>
  </header>
</ng-template>
