.main-header{
  height: 12vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  transition: 0.4s;
  z-index: 2;
}

.main-header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header .title{
  color : #fff;
  display: flex;
  align-items: center;
  text-shadow: 4px 0px 5px #000000, -10px -30px 60px #000000;
}

.main-header .title img:first-child{
  height: 8vh;
  width: 8vh;
  margin-right: 20px;

}

.main-header .title img:last-child{
  width: 220px;
  margin-right: 20px;

}

.main-header .header-links{
  display: flex;
  list-style-type: none;
  font-size: 28px;
  font-weight: 600;
}

.main-header .header-links li a{
  margin-left: 30px;
  transition: 0.4s;
  color: #fff;
  text-shadow: 4px 0px 5px #000000, -10px -30px 60px #000000;
  padding: 5px;
}

.main-header .header-links li a:hover{
  text-shadow:  12px 12px 44px #b5b5b5,
  -12px -12px 44px #98C1D9;
  cursor: pointer;
  color: white;

}

.beauty{
  background-color: #2B2D42;
  box-shadow: 0 !important;
  height: 9vh;
  color:black !important;
  text-shadow: none !important;
}


