
  <div class="user-profile container" >
    <div class="d-flex justify-content-between align-items-center">
      <div class="text">
        <h2>Personal info</h2>
        <p class = 'fw-light'>Update your photo and personal details here.</p>
      </div>
      <div class="buttons">
        <button class="mx-2" mat-button>Cancel</button>
        <button mat-raised-button color = "primary" >Save</button>
      </div>
    </div>
    <hr>
    <app-edit-info (save)="saveInfo($event)"></app-edit-info>
  </div>


